.dividerStatus {
  margin: 0px !important;
}
.overviewHead {
  margin-bottom: 23px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.translucentBox {
  padding: 10px 20px 15px;
  background: rgba(255, 255, 255, 0.09);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #fff;
}
.overviewTabBar {
  padding: 0px !important;
}
.overviewTableHead {
  background-color: #00aeae;
  height: auto !important;
}
.overviewTableColumn {
  color: #fff !important;
  height: auto !important;
}
.overviewTableRow {
  height: 35px !important;
}
.overviewTableBody {
  background-color: #f4f4f4 !important;
}
.overviewTableColumnBody {
  font-size: 18px !important;
  color: grey;
}
