.bttv-dark .translucentBox {
  background: linear-gradient(135deg, #4b367c, #5f459a);
}
.bttv-dark .headerMenuItem {
  background: linear-gradient(135deg, #4b367c, #5f459a);
}
.bttv-dark .TableRow {
  border-bottom: 3px solid #5f459a !important;
}
.bttv-dark .bannerHeader {
  background-color: #1d1c21;
  border-top: 5px solid #5f459a;
}
.bttv-dark .themeIcon:hover{
  background: -webkit-linear-gradient(135deg, #4b367c, #5f459a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bttv-dark a {
  color: #5f459a !important;
}
.bttv-dark .urlshortener_arrow {
  color: #5f459a;
}
.bttv-dark .chatBubbleSelf {
  background-color: #0f0e11;
  padding: 10px;
  border-radius: 4px;
}
.bttv-dark .chatBubbleSupport {
  background-color: #3f3c46;
  padding: 10px;
  border-radius: 4px;
}
