.twasi-dark {
  -webkit-user-select: none;
  user-select: none;
}
.twasi-dark .outline-textlogo { fill:#1b292d; }
.twasi-dark .shadow-primary-textlogo { fill:#004a4a; }
.twasi-dark .shadow-secondary-textlogo { fill:#008e8e; }
.twasi-dark .main-textlogo { fill:#00aeae; }
.twasi-dark img {
  pointer-events: none;
}
.twasi-dark .bannerHeader {
  background-color: #0d1315;
}
.twasi-dark .bannerHeaderTopBar {
  background-color: #00aeae;
}
.twasi-dark .translucentBoxText {
  color: #ffffff;
}
.twasi-dark .urlshortener_arrow {
  color: #00aeae;
}
.twasi-dark .chatBubbleSelf {
  background-color: #141c1f;
  padding: 10px;
  border-radius: 4px;
}
.twasi-dark .chatBubbleSupport {
  background-color: #263b42;
  padding: 10px;
  border-radius: 4px;
}
.twasi-dark a {
  color: #00aeae;
}
