#header {
  border-top: 5px solid #00aeae;
}

.bannerHeader {
  height: 265px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -100;
}

.bannerHeaderTopBar {
  height: 5px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -99;
}

.swapIcon {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -ms-transition: -ms-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.swapIcon:hover {
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.feedbackIcon {
  cursor: pointer;
  margin-right: 15px;
}
.feedbackIcon:hover {
  animation: heartbeat 2s infinite;
  color: #e53935;
}

.themeIcon {
  cursor: pointer;
  margin-right: 15px;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  -ms-transition: -ms-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
}
.themeIcon:hover {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background: -webkit-linear-gradient(135deg,#00aeae,#02d4d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.languageIcon {
  cursor: pointer;
  margin-right: 15px;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  -ms-transition: -ms-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
}
.languageIcon:hover {
  transform: scale(1.2);
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.85);
  }
  40% {
    transform: scale(0.85);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
