.twasi-blue {
  background: #3f51b5 !important;
  color: #ffffff !important;
  border-radius: 4px !important;
}
.twasi-text {
  background: #afb6c5 !important;
  color: #1a2035 !important;
  border-radius: 4px !important;
}
.twasi-background {
  background: #1a2035 !important;
  color: #ffffff !important;
  border-radius: 4px !important;
}
.twasi-paper {
  background: #202940 !important;
  color: #ffffff !important;
  border-radius: 4px !important;
}
