@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  background-color: #edecec;
}

.content {
  margin: 32px;
  display: flex;
}
.pageContent {
  width: 100%;
}
.pageTitle {
  font-size: 15px;
  color: #fff;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}
.pageContainer {
  border-radius: 0px !important;
  padding: 23px;
  margin-top: 23px;
  box-shadow: none !important;
  display: flex;
}
