.twasi-light {
  -webkit-user-select: none;
  user-select: none;
  color: #636363;
}
.twasi-light .outline-textlogo { fill:#1b292d !important; }
.twasi-light .shadow-primary-textlogo { fill:#004a4a !important; }
.twasi-light .shadow-secondary-textlogo { fill:#008e8e !important; }
.twasi-light .main-textlogo { fill:#00aeae !important; }
.twasi-light img {
  pointer-events: none;
}
.twasi-light .bannerHeader {
 background-color: #dcdcdc;
}
.twasi-light .userNameStyle {
  color: #636363 !important;
}
.twasi-light .rankNameStyle {
  color: #636363 !important;
}
.twasi-light .avatarStyle {
  border-color: #636363 !important;
}
.twasi-light .bannerHeaderTopBar {
  background-color: #00aeae;
}
.twasi-light .urlshortener_arrow {
  color: #00aeae;
}
.twasi-light .chatBubbleSelf {
  background-color: #ececec;
  padding: 10px;
  border-radius: 4px;
}
.twasi-light .chatBubbleSupport {
  background-color: #d6d6d6;
  padding: 10px;
  border-radius: 4px;
}
.twasi-light a {
  color: #00aeae;
}
