.twasi-dev {
  -webkit-user-select: none;
  user-select: none;
}
.twasi-dev img {
  pointer-events: none;
}
.twasi-dev .translucentBox {
  background: #3f51b5;
}
.twasi-dev .headerMenuItem {
  background: #3f51b5;
}
.twasi-dev .TableRow {
  border-bottom: 3px solid #3f51b5 !important;
}
.twasi-dev .bannerHeader {
  background-color: #171d2f;
  border-top: 5px solid #3f51b5;
}
.twasi-dev .themeIcon:hover{
  background: -webkit-linear-gradient(135deg, #3f51b5, #3f51b5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.twasi-dev a {
  color: #3f51b5 !important;
}
.twasi-dev .urlshortener_arrow {
  color: #3f51b5;
}
.twasi-dev .chatBubbleSelf {
  background-color: #202940;
  padding: 10px;
  border-radius: 4px;
}
.twasi-dev .chatBubbleSupport {
  background-color: #34456b;
  padding: 10px;
  border-radius: 4px;
}
.twasi-dev .tooltipAccountSwitch {
  background-color: #00aeae;
}
