.tipeee-dark .translucentBox {
  background: #d84759;
}
.tipeee-dark .headerMenuItem {
  background: #3b4254;
}
.tipeee-dark .TableRow {
  border-bottom: 3px solid #d84759 !important;
}
.tipeee-dark .bannerHeader {
  background-color: #1b1e27;
  border-top: 5px solid #d84759;
}
.tipeee-dark .themeIcon:hover{
  background: -webkit-linear-gradient(135deg, #7885a5, #7885a5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tipeee-dark a {
  color: #d84759 !important;
}
