.tipeee-dark .translucentBox {
  background: #3b4254;
}
.tipeee-dark .headerMenuItem {
  background: #3b4254;
}
.tipeee-dark .TableRow {
  border-bottom: 3px solid #d84759 !important;
}
.tipeee-dark .bannerHeader {
  background-color: #1b1e27;
  border-top: 5px solid #d84759;
}
