.tipeee-dark {
  -webkit-user-select: none;
  user-select: none;
}
.tipeee-dark .outline-textlogo { fill:#3b4254 !important; }
.tipeee-dark .shadow-primary-textlogo { fill:#822b36 !important; }
.tipeee-dark .shadow-secondary-textlogo { fill:#ad3746 !important; }
.tipeee-dark .main-textlogo { fill:#d84759 !important; }
.tipeee-dark .tipeee-dark img {
  pointer-events: none;
}
.tipeee-dark .translucentBox {
  background: #d84759;
}
.tipeee-dark .headerMenuItem {
  background: #3b4254;
}
.tipeee-dark .TableRow {
  border-bottom: 3px solid #d84759 !important;
}
.tipeee-dark .bannerHeader {
  background-color: #1b1e27;
}
.tipeee-dark .bannerHeaderTopBar {
  background-color: #d84759;
}
.tipeee-dark .themeIcon:hover{
  background: -webkit-linear-gradient(135deg, #7885a5, #7885a5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tipeee-dark a {
  color: #d84759 !important;
}
.tipeee-dark .urlshortener_arrow {
  color: #d84759;
}
.tipeee-dark .chatBubbleSelf {
  background-color: #393f52;
  padding: 10px;
  border-radius: 4px;
}
.tipeee-dark .chatBubbleSupport {
  background-color: #576077;
  padding: 10px;
  border-radius: 4px;
}
