.Sidebar {
  padding: 0px !important;
}

.sidebar {
  float: unset;
  display: block !important;
}

.sidebarclosed {
  color: red !important;
}

.headerMenuItem {
  background: linear-gradient(135deg,#00aeae,#02d4d4);
  font-size: 18px;
  font-weight: 600;
  line-height: 48px;
  color: #fff;
  margin-left: 0px;
  padding: 0px 5px 0px 16px;
  min-height: 48px;
  position: relative;
  text-align: center;
  border-radius: 4px 4px 0px 0px;
}
