.Sidebar {
  padding: 0px !important;
}

.sidebar {
  float: unset;
  display: block !important;
}

.sidebarclosed {
  color: red !important;
}

.headerMenuItem {
  background: linear-gradient(135deg, rgb(63, 81, 181), rgb(84, 128, 255));
  margin-left: 0px;
  padding: 0px 5px 0px 16px;
  min-height: 48px;
  position: relative;
  text-align: center;
  border-radius: 4px 4px 0px 0px;
}

.headerMenuTitle {
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 48px !important;
  color: #fff !important;
}

.navigationFab {
  float: right !important;
  margin: 5px 0px 0px 5px !important;
  box-shadow: none !important;
  background: transparent !important;
  border-radius: 0px !important;
}
