#sr-mini-player, #sr-mini-player.retract:hover, #sr-mini-player.retract.youtube:hover {
    opacity: 1;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    width: 520px;
    height: fit-content;
    min-width: 520px;
    max-width: 520px;
    overflow: hidden;
    transition: all .45s cubic-bezier(.35, .09, .44, 1) .1s;
    color: #121212;
}

#sr-mini-player:not(.show), #sr-mini-player.retract:not(.show) {
    opacity: 0;
    right: -450px !important;
}

#sr-mini-player.youtube:not(.show) {
    opacity: 1;
    right: -207px;
    background-color: transparent;
}

#sr-mini-player.retract {
    opacity: .75;
    right: -395px;
}

#sr-mini-player.retract.youtube {
    right: -320px;
}

.mini-player-preview {
    margin: 0 15px 0 0;
    float: left;
}

#mini-player-infos {
    display: inline-block;
    transition: all .45s cubic-bezier(.35, .09, .44, 1) .1s;
    opacity: 0;
}

#sr-mini-player, #sr-mini-player.retract:hover > #mini-player-infos {
    opacity: 1;
}

#sr-mini-player > #mini-player-infos {
    opacity: 0;
}

#sr-mini-player.expanded > #mini-player-infos {
    opacity: 1;
}

#sr-mini-player.youtube:not(.show) > #mini-player-infos {
    opacity: 0;
}

#mp-song-title {
    margin-top: 11px;
    display: block;
    font-weight: bold;
    font-size: 1em;
}

#mp-song-artist {
    font-size: 0.8em;
    display: block;
    margin-top: 6px;
}
