.socialIcon {
  height: 25px;
  width: 25px;
  margin-top: 3px;
}
.buttonConnected {
  box-shadow: none !important;
  width: 10% !important;
}
.profileBadge {
  height: 35px;
  padding-top: 1px;
}
.badgeButton {
  margin-right: 15px !important;
}
.selected {
  background-color: rgb(224, 224, 224);
}
