.songrequestsCoverImage {
  height: 150px;
  width: 150px;
}
.songrequestsPlayer {
  width: -webkit-fill-available;
  padding: 23px 23px 0px 23px;
}
.songrequestsInfo {
  padding-top: 5px;
  width: 100%;
}
.leftTime {
  float: left;
}
.rightTime {
  float: right;
}
.songrequestsTableHead {
  background-color: #00aeae;
  height: auto !important;
}
.songrequestsTableColumn {
  color: #fff !important;
  height: auto !important;
}
.songrequestsTableRow {
  height: 35px !important;
}
.songrequestsTableBody {
  background-color: #fff !important;
}
.songrequestsTableColumnBody {
  font-size: 14px !important;
  color: grey;
}
.songrequestsTitle {
  display: flex;
  justify-content: space-between;
}
