.songrequestsCoverImage {
  height: 150px;
  width: 150px;
}
.songrequestsPlayer {
  width: -webkit-fill-available;
  padding: 23px 23px 0px 23px;
}
.songrequestsInfo {
  padding-top: 5px;
  width: 100%;
}
.leftTime {
  float: left;
}
.rightTime {
  float: right;
}
.songrequestsTitle {
  display: flex;
  justify-content: space-between;
}
.songrequestPlayer {
  height: 125px;
  width: 470px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 500;
}
.playerControl {
  width: 100%;
  padding: 15px;
  overflow:hidden;
}
