.dark-grey {
  -webkit-user-select: none;
  user-select: none;
}
.dark-grey .outline-textlogo { fill:#1b292d !important; }
.dark-grey .shadow-primary-textlogo { fill:#004a4a !important; }
.dark-grey .shadow-secondary-textlogo { fill:#008e8e !important; }
.dark-grey .main-textlogo { fill:#00aeae !important; }
.dark-grey img {
  pointer-events: none;
}
.dark-grey .bannerHeader {
 background-color: #131313;
}
.dark-grey .bannerHeaderTopBar {
 background-color: #00aeae;
}
.dark-grey .urlshortener_arrow {
  color: #00aeae;
}
.dark-grey .chatBubbleSelf {
  background-color: #212121;
  padding: 10px;
  border-radius: 4px;
}
.dark-grey .chatBubbleSupport {
  background-color: #464646;
  padding: 10px;
  border-radius: 4px;
}
