.custom-theme {
  -webkit-user-select: none;
  user-select: none;
}
.custom-theme img {
  pointer-events: none;
}
.custom-theme .translucentBox {
  background: linear-gradient(135deg, rgb(63, 81, 181), rgb(84, 128, 255));
}
.custom-theme .translucentBoxLeaderboard {
  background: linear-gradient(135deg, rgb(63, 81, 181), rgb(84, 128, 255));
}
.custom-theme .translucentBoxWelcome {
  background: linear-gradient(135deg, rgb(63, 81, 181), rgb(84, 128, 255));
}
.custom-theme .headerMenuItem {
  background: linear-gradient(135deg, rgb(63, 81, 181), rgb(84, 128, 255));
}
.custom-theme .TableRow {
  border-bottom: 3px solid #3f51b5 !important;
}
.custom-theme .bannerHeader {
  background-color: #171d2f;
}
.custom-theme .bannerHeaderTopBar {
  background: linear-gradient(135deg, rgb(63, 81, 181), rgb(84, 128, 255));
}
.custom-theme .themeIcon:hover{
  background: -webkit-linear-gradient(135deg, #3f51b5, #3f51b5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.custom-theme a {
  color: #3f51b5;
}
.custom-theme .urlshortener_arrow {
  color: #3f51b5;
}
.custom-theme .chatBubbleSelf {
  background-color: #202940;
  padding: 10px;
  border-radius: 4px;
}
.custom-theme .chatBubbleSupport {
  background-color: #34456b;
  padding: 10px;
  border-radius: 4px;
}
.custom-theme .tooltipAccountSwitch {
  background-color: #00aeae;
}
