.FullpageLoaderWrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.FullpageLoader {
  display: flex;
  justify-content: center;
}

.FullpageLoaderText {
  width: 100%;
  display: flex;
  justify-content: center;
}

.FullpageLoaderImage {
  height: auto;
  width: 100%;
  margin: 0 auto;
}
